<form name="emailForm">

    <label>From:</label>
    <input class="form-control" type="text" name="From" disabled="disabled" value="{{email.username}}"/>

    <label>To:</label>
    <input class="form-control" type="text" name="To" />

    <label>Subject:</label>
    <input class="form-control" type="text" name="Subject" />

    <label>Message:</label>
    <textarea class="form-control" name="Message" rows="4" cols="50" ></textarea>

    <a class="btn btn-primary" type="button">Send</a>

</form>